<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %highlight(%p) [%t] %c %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="it.fvaleri" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.arjuna" level="INFO"/>
    <logger name="org.apache.camel" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
</configuration>
