<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    <camelContext xmlns="http://camel.apache.org/schema/spring" streamCache="true" trace="false">
        <jmxAgent id="agent" disabled="true"/>

        <route>
            <from uri="jms:queue:my-queue"/>
            <transacted/>
            <log message="Received message: ${body}"/>
            <setHeader headerName="value">
                <simple>${body}</simple>
            </setHeader>
            <to uri="sql:insert into testtb (text) values (:#value)"/>
            <!--throwException exceptionType="java.lang.IllegalArgumentException" message="Fail"/-->
            <log message="Message stored"/>
        </route>
    </camelContext>

    <!-- resources offered by the pooled-connection-factory are XA aware -->
    <jee:jndi-lookup id="pooledConnectionFactory" jndi-name="java:jboss/DefaultJMSConnectionFactory"/>
    <jee:jndi-lookup id="dataSource" jndi-name="jboss/datasources/testdbDS" expected-type="javax.sql.DataSource"/>

    <bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager"/>

    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="configuration">
            <bean class="org.apache.camel.component.jms.JmsConfiguration">
                <property name="connectionFactory" ref="pooledConnectionFactory"/>
                <property name="transacted" value="false"/>
                <property name="transactionManager" ref="txManager"/>
                <property name="maxConcurrentConsumers" value="1"/>
                <property name="cacheLevelName" value="CACHE_NONE"/>
                <property name="deliveryPersistent" value="true"/>
                <property name="requestTimeout" value="10000"/>
            </bean>
        </property>
    </bean>

    <bean id="sql" class="org.apache.camel.component.sql.SqlComponent">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>
